vrrp_instance vrrp1 {
	state {{ vrrp_state }}
	interface eth1
	advert_int 1
	virtual_router_id 2
	priority {{ vrrp_priority }}
	authentication {
	  auth_type PASS
	  auth_pass 123456
	}
	virtual_ipaddress {
	  192.168.33.3/24
	}
}